@model PagedList.IPagedList<LibraryManagement.Models.Book>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Books Catalogue";
    
    var statuses = ViewBag.statuses as List<LibraryManagement.Models.BookStatus>;//viewbag for status name
    var statusList = ViewBag.statusList;

}

<h2>All Book List</h2>

<div class="row d-flex gap-2 align-items-end" style="padding-bottom: 10px; margin-left: 2px">
    @using (Html.BeginForm("GetAll", "Book", FormMethod.Get))
    {
        <div class="col-md-2">
            <input type="text" class="form-control" id="searchTitle" name="searchTitle" placeholder="Search by title..." />
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="searchAuthor" name="searchAuthor" placeholder="Search by Author..." />

        </div>

        <div class="col-md-2">
            <input type="text" class="form-control" id="searchPublisher" name="searchPublisher" placeholder="Search by Publisher..." />

        </div>
        <div class="col-md-3">
            <select class="form-control" id="searchStatus" name="BookStatus">
                <option value="">-- Select Status --</option>
                @foreach (var item in statusList as SelectList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="col-md-1">
            <select class="form-control" id="IsDeleted" name="IsDeleted">
                <option value=""> -Filter Deleted/ Not Deleted-</option>

                <option value="1">Deleted</option>
                <option value="0">Not Deleted</option>
            </select>
        </div>
        
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Go</button>

        </div>
        <div class="col-md-1">
            <button class="btn btn-primary" onclick="clearFilters()">Clear</button>

            @* <a href="@Url.Action("Index", "Book")" class="btn btn-primary">Clear</a> *@


        </div>


    }



</div>

<table class="table">
    <tr>
        <th>Book ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Published Year</th>
        <th>Book Status</th>
        <th>Deleted Status</th>
        <th></th>
        

    </tr>
   

    @foreach (var book in Model)
    {

        <tr>
            <td>@book.BookId</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.PublishedDate</td>
            <td>
                @{
                    var status = statuses?.FirstOrDefault(c => c.BookStatusID == book.BookStatusID);
                    @(status != null ? status.BookStatusName : "No Status")
                    ;

                }
            </td>
            <td>
                
                @(book.isDeleted==false? "Not Deleted":"Deleted" )
                
                @* <span class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = book.BookId })</span> | *@
                @* <span class="btn btn-danger"> @Html.ActionLink("Permanent Delete", "Delete", new { id = book.BookId })</span> *@
            </td>
            <td>
                @* @book.BookId *@
                @if (book.isDeleted == true)
                {
                    using (Html.BeginForm("Undelete", "Book", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()
                        @Html.Hidden("Id", book.BookId)
                        <input type="Submit" value="Undelete" class="btn btn-warning"/>
                    }

                }
            </td>
        </tr>
    }
</table>
<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("GetAll", new { page }))
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<script>
function clearFilters() {
document.getElementById("searchUserId").value = "";
document.getElementById("searchFullName").value = "";
document.getElementById("searchEmail").value = "";
const roleDropdown = document.getElementById("SearchRoleID");
if (roleDropdown) {
roleDropdown.selectedIndex = 0;
}
window.location.href = '@Url.Action("GetAll", "Book")';
}
</script>